<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <!-- fragment definition -->
        <div th:fragment="local"></div>

        <!-- th:replace/insert using complete template -->
        <div th:replace="~{fragments/file}"></div>
        <div th:insert="~{fragments/file}"></div>

        <!-- th:replace/insert using nothing -->
        <div th:replace="~{:: local}"></div>
        <div th:insert="~{:: local}"></div>

        <!-- th:replace/insert using this -->
        <div th:replace="~{this :: local}"></div>
        <div th:insert="~{this :: local}"></div>

        <!-- th:replace/insert on one line -->
        <div th:replace="~{fragments/file :: extern1}"></div>
        <div th:insert="~{fragments/file :: extern2}"></div>

        <!-- th:replace/insert multi line -->
        <li
            th:replace="~{fragments/file :: extern1(
            heading = 'Lorem Ipsum',
            text = ${descriptionText}
        )}"
        ></li>
        <li
            th:insert="~{fragments/file :: extern2(
            heading = 'Lorem Ipsum',
            text = ${descriptionText}
        )}"
        ></li>

        <!-- th:replace/insert CSS -->
        <div th:replace="~{fragments/file :: #id1}"></div>
        <div th:insert="~{fragments/file :: #id2}"></div>
    </body>
</html>
